body{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  background-color: #E5E5E5;
}
input{
  border: none;
}
ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
a{
  text-decoration: none;
  cursor: pointer;
}
h2, h3,h4, p{
  margin: 0;
  padding: 0;
}
.header-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  width: 90%;
  margin: auto;
}
.header{
  background: #FA8C16;
  padding-top: 16px;
  padding-bottom: 16px;
}
.header-menu{
  display: flex;
}
.header-nav{
  margin-left: 60px;
  margin-right: auto;
}
.header-menu > li > a{
  color: #FAFAFA;
  margin-right: 15px;
  font-size: 14px;
  line-height: 22px;
}
.input-group{
  width: 237px;
  height: 32px;
  background: #FFFFFF;  
  border: 1px solid #D9D9D9;
  border-radius: 4px;
  overflow: hidden;
  position: relative;
}
.input-group>input{
  font-size: 14px;
  line-height: 22px;
  height: 100%;
  width: 80%;
  padding-left: 15px;
}
.input-group>button{
  height: 100%;
  width: 20%;
  position: absolute;
  right: 0;
  top: 0;
  border: none;
  background: white;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-input::-moz-placeholder {color: #bfbfbf;}
.search-input::-webkit-input-placeholder {color: #bfbfbf;}
.search-input::-ms-input-placeholder {color: #bfbfbf;}
.search-input:-ms-input-placeholder {color: #bfbfbf;}
.search-input::placeholder {color: #bfbfbf;}

.main-wrapper{
  margin-top: 30px;
  margin-left: 120px;
  margin-left: 120px;
}
.main_posts{
  background-color: #fff;
  max-width: 800px;
}
.main_post-section{
  padding: 35px 36px 21px 36px;
}
.main_post-section>h2{
  color:#262626;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 19px;
}
.main_post-section>p{
  color: #262626;
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 10px;
}
.main_post-tags {
  display: flex;
  align-items: center;
}
.main_post-tags>li{
  margin-right: 10px;
  cursor: pointer;
  color: #bfbfbf;
}
.main_nav{
  background: #FAFAFA;
  border: 1px solid #E8E8E8;
  display: flex;
  padding: 21px 36px;
  justify-content: space-between;
  align-items: center;
}
.main_nav-share{
  display: flex;
  align-items: baseline;
}
.main_nav-share-icon{
  display: flex;
  align-items: center;
  margin-right: 25px;
}
.main_nav-share-icon>span{
  font-size: 14px;
  line-height: 22px;
  color: #8C8C8C;
  margin-left: 5px;
}
/* .main_nav-share>a>img{
} */
.main_nav-profil{
  display: flex;
  align-items: center;
}
.main_nav-profil-info{
  margin-right: 9px;
}
.main_nav-profil-info>h4{
  font-size: 12px;
  line-height: 20px;
  color: #8C8C8C;
}
.main_nav-profil-info>h3{
  font-size: 12px;
  line-height: 20px;
  color: #BFBFBF;
}